.animated-gradient-text {
  display: inline-block;
  position: relative;
}

.text-content {
  display: inline-block;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient linear infinite;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
